:root {
  --font-family: 'JetBrains Mono NL', 'Roboto Mono', Consolas, monospace;
  --font-size: 12pt;
}

html,
body {
  background-color: #EEE;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

pre {
  font-family: var(--font-family);
}

#view {
  background-color: #FFF;
  width: calc(80ch + 32px);
  margin: 0 auto;
  box-sizing: border-box;
  font-family: var(--font-family);
  padding: 4px 16px;
  white-space: pre;
  display: block;
  overflow: auto;
}

#view.redirect {
  text-align: center;
}

a,
a:visited {
  color: #00A;
}

a:hover {
  color: #00F;
}
