/* Author: Nurudin Imsirovic <realnurudinimsirovic@gmail.com>
 * File: style.css
 * Iteration Count: 1
 * Created: 2024-09-12 08:19 PM
 * Updated: 2024-09-12 08:21 PM
 */

:root {
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #000;
}

@font-face {
  font-family: '_roboto-medium';
  src: url('/fonts/roboto-medium.ttf') format('truetype');
}
